# Language specific files
.npm
npm-debug.log
node_modules
.sass-cache

# Editor specific project files
.tern-project
*.swp
*.swo
.idea

# Build process files
dist
coverage
tags
tmp
.tmp
*.built.*
data/cache.json

# OS files
.DS_Store

