@import 'nib'

/** TODO: add http://lea.verou.me/2012/04/background-attachment-local/ **/
/** ---- ADDITIONAL CSS3 FUNCTIONS ---- **/
display()
    if arguments == box
        display: -webkit-box;
        display: -moz-box;
        display: box;
    else
        display: arguments;

user-select()
    -webkit-touch-callout: arguments;
    -webkit-user-select: arguments;
    -khtml-user-select: arguments;
    -moz-user-select: arguments;
    -ms-user-select: arguments;
    user-select: arguments;

/** ---- GENERIC OBJECTS ---- **/
shadowDark =  0px  1px 1px rgba(255,255,255,0.7)
shadowLight = 0px -1px 1px rgba(0,0,0,0.6)
colorGreyLight = #F5F5F5
colorGreyMid = #DBDBDB
colorGreyDark = #909090
colorHighlightMid = #D2D2FF
colorHighlightLight = #F0F0F5
colorHighlightDark = #303070
fsMid = 14px
fsLarge = 16px

body
    font-size: 14px
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

*
    margin: 0
    padding: 0

button
    display: block
    margin: 10px
    border: 2px solid colorGreyDark
    background-color: colorGreyLight
    border-radius: 10px
    font-size: fsLarge
    padding: 5px 15px
    text-shadow: shadowDark
    background-image: linear-gradient(bottom, colorGreyMid, colorGreyLight)
    cursor: pointer

button:active
    background-image: linear-gradient(bottom, colorHighlightMid, colorHighlightLight)

label
    cursor: pointer

a
    text-decoration: none

#settingsPictures:not(:checked) ~ img,
#settingsPictures:not(:checked) ~ * img
    display: none

/** ---- TOGGLE SLIDER ---- **/
tsWidthRaw = 77
tsHeightRaw = 26
tsBorderRadius = 15px
tsGlossHeight = 15px

tsFirstQuarter = (tsHeightRaw/2 / tsWidthRaw * 100)%
tsThirdQuarter = (100 - tsHeightRaw/2 / tsWidthRaw * 100)%
tsWidth = (tsWidthRaw)px
tsHeight= (tsHeightRaw)px
tsGlossMargin = round(0.05 * tsWidth)
tsOnOffY = (round(0.5 * tsHeightRaw))px
tsOnX = (round(0.2 * tsWidthRaw))px
tsOffX = (round(0.40 * tsWidthRaw))px
tsOnOffFontSize = round(0.7 * tsHeight)

.toggleSlide,
.toggleSlide > div,
.toggleSlide .shadowGloss:before,
.toggleSlide .shadowGloss:after,
.toggleSlide .textBgrnd:before,
.toggleSlide .textBgrnd:after
    width: tsWidth
    height: tsHeight
    cursor: pointer
    display: block
    overflow: hidden
    border-radius: tsBorderRadius

.toggleSlide.animated > div > div
    transition: transform 0.5s ease-in-out

.toggleSlide
    border: 1px solid #bdbdbd
    border-color: #878787 #999999 #bdbdbd
    background-image: linear-gradient(right, #EEEEEE, 50% #EEEEEE, 50% #1582E7, #1582E7)

/** Mask **/
.toggleSlide > div
    -webkit-mask-image:
        -webkit-gradient(radial, tsFirstQuarter center,0, tsFirstQuarter center, 
            (tsHeightRaw/2), from(black), color-stop(99%, black),to(rgba(0,0,0,0))),
        -webkit-gradient(linear, left top, right top,
            from(transparent),
            color-stop(tsFirstQuarter, transparent), color-stop(tsFirstQuarter, black),
            color-stop(tsThirdQuarter, black), color-stop(tsThirdQuarter, transparent),
            to(transparent)),
        -webkit-gradient(radial, tsThirdQuarter center,0, tsThirdQuarter center, 
            (tsHeightRaw/2), from(black), color-stop(99%, black),to(rgba(0,0,0,0)))

.toggleSlide:not(.checked) .textBgrnd
    transform translate(-1 * (tsWidth - tsHeight), 0)
.toggleSlide:not(.checked) .knob
    transform translate(0, -2*tsHeight - tsGlossHeight)

.toggleSlide .textBgrnd
    width: (tsWidth * 2) - tsHeight
    height: tsHeight
    background-image: linear-gradient(right, #EEEEEE, 50% #EEEEEE, 50% #1582E7, #1582E7)
    transform: translate(0, 0)

.toggleSlide .textBgrnd:before,
.toggleSlide .textBgrnd:after
    height: 0
    line-height: 0
    overflow: visible
    font-weight: bold
    font-size: tsOnOffFontSize

.toggleSlide .textBgrnd:before
    content: "ON"
    color: white
    text-shadow: 0px -1px 1px rgba(0,0,0,0.4)
    transform: translate(tsOnX, tsOnOffY)

.toggleSlide .textBgrnd:after
    content: "OFF"
    color: #7f7f7f
    text-shadow: 0px 1px 1px rgba(255,255,255,0.4)
    transform: translate(tsWidth - tsHeight + tsOffX, tsOnOffY)

/** shadow **/
.toggleSlide .shadowGloss:before
    content: " "
    transform: translate(0, -1*tsHeight)
    box-shadow: inset 0px 5px 7px -4px rgba(0,0,0,0.4);

/** gloss **/
.toggleSlide .shadowGloss:after
    content: " "
    transform: translate(tsGlossMargin, -1*tsHeight - tsGlossHeight)
    width: tsWidth - tsGlossMargin * 2
    height: tsGlossHeight
    background-image: linear-gradient(top, rgba(255,255,255,0.1), rgba(255,255,255, 0.4))

.toggleSlide .knob
    width: tsHeight
    height: tsHeight
    border-radius: tsBorderRadius
    background-color: white
    background-image: linear-gradient(top, #d1d1d1, #fefefe)
    box-shadow: inset 0 2px 2px 0 rgba(255,255,255,0.4),
        0 0 3px rgba(0,0,0,0.8);
    transform: translate((tsWidth - tsHeight), -2*tsHeight - tsGlossHeight)

/** ---- MAIN LAYOUT ---- **/
html, body
    height: 100%

body
    display: box
    box-orient: vertical;

.pageState
    display: none

header
    background-image: linear-gradient(bottom, #6C9FA0, 50% #7FADAF, 50% #87B2B3, #B4CCCB)
    border-bottom: 1px solid #2C3332
    font-size: 18px
    font-weight: bold
    color: white
    text-shadow: shadowLight
    padding: 5px 15px

.showSettings
    absolute: top 0px right 10px
    padding: 2px
    margin: 1px
    width:  32px
    height: 31px

    border: 2px solid colorGreyDark
    border-radius: 7px

.showSettings > *
    relative: top -15px left 0px
    font-size: 40px
    color: rgba(colorGreyDark, 0.5)

.overlay
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-image: -webkit-gradient(radial,
        center center, 0, center center, 800,
        from(rgba(black ,0.3)),
        to(rgba(black ,0.6)))
    pointer-events: none
    opacity: 0
    transition: opacity 500ms linear

#settingsVisible:checked ~ .overlay
    pointer-events: auto;
    opacity: 1;

.hpanels
    display: box
    box-flex: 1
    box-orient: horizontal

/** ---- INGREDIENTS SIDEBAR ---- **/
.ingredients
    width: 275px
    border-right: solid 1px colorGreyDark

    background-image: -webkit-gradient(linear, left top, 0 10,
        from(colorGreyMid), to(rgba(colorGreyMid, 0.0)))
    background-repeat: no-repeat;

    overflow-x: hidden
    overflow-y: scroll
    -webkit-overflow-scrolling: touch
    user-select: none
    cursor: pointer

.ingredientList
    list-style:  none
.ingredientList > li
    position: relative
    -webkit-backface-visibility: hidden;

.ingredientList > li .ingText
    display: inline-block
    position: relative
    min-width: 50px
    height: 17px
    background-color: white
    transform: translate(0, 0)
    transition: transform 0.2s ease-in-out

.ingredientList > li.required .ingText
    transform: translate(30px, 0)
    
.ingredientList > li
    background-color: white

.ingredientList > li:nth-child(2n) .ingText,
.ingredientList > li:nth-child(2n)
    background-color: colorGreyLight

.ingredientList > li .ingR
    position: absolute
    top: 0
    width: 50px;
    background-image: linear-gradient(top, colorHighlightLight, colorHighlightMid)
    font-weight: bold
    text-shadow: shadowDark

.ingredientList > li .ingText,
.ingredientList > li .ingR
    padding: 8px

.ingredientList > li .ingCheck
    position: absolute
    right: 10px
    top: 9px

    width: 10px
    height: 10px
    padding: 2px
    border: 2px solid colorGreyMid
    padding: 0 1px 0 0

    font-size: fsLarge
    line-height: 7px
    color: colorHighlightDark
    background-color: colorHighlightLight
    border-radius: 5px
    
    opacity: 0
    transition: opacity 500ms ease
    
.ingredientList > li.have:not(.required) .ingCheck
    opacity: 1

.ingredientList > li.have .ingText,
.ingredientList > li.required .ingText
    color: colorHighlightDark
    font-weight: bold

/** ------------- RECIPE SIDEBAR ------------- **/
.recipeList
    width: 275px
    border-right: solid 1px colorGreyDark
    overflow: scroll
    background-image: -webkit-gradient(linear, 0 0, 10 0, from(#DBDBDB), to(#fff))
    transform: translate(0, 0)
    -webkit-overflow-scrolling: touch
    display: none

.recipeList > ol > li > div
    overflow: ellipsis

#settingsIncomplete:not(:checked) ~ .incomplete
#settingsIncomplete:not(:checked) ~ * > .incomplete
#settingsIba:checked ~ .notIba
#settingsIba:checked ~ * > .notIba
    display: none

/** ------------- RECIPES ------------- **/
.recipes
    box-flex: 1
    background-color: red
    min-height: 100%
    background-image: -webkit-gradient(linear, 0 0, 10 0, from(#DBDBDB), to(#fff))
    position: relative
    overflow: scroll
    -webkit-overflow-scrolling: touch


/** Deprecated **/
.recipes > ol > li
    display: inline-block
    width: 320px
    padding: 0
    margin: 15px

    vertical-align: top
    list-style-type: none;
    background-color: white
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.06) inset;

.recipes table
    width: 100%

.catTitle
    margin: 0px 20px
    padding: 10px 10px 0px 10px

    clear: both
    text-transform: lowercase
    font-weight: normal
    color: colorGreyDark

.catTitle:after
    content:" "
    display: block;
    width: auto;
    height: 10px;
    margin-top: 2px;

    border-top: 1px solid colorGreyDark;
    clear: both;
    background-image: -webkit-gradient(linear,0 0,0 5, from(#EEEEEE), to(#fff));

.catTitleNum
    color: black;

.catTitle .hidden
    display: none

.recipes.sortType0 .catTitle > .percent,
.recipes.sortType1 .catTitle > .number
    display: none;

/** Recipes */
.hideRow
    display: none
.recipe > table
    border-collapse: collapse
.recipe > table:not(.iba) .ibaLink
    display: none

.ibaLink
    text-align: center
    background-image: linear-gradient(right, 
        rgba(colorHighlightLight,0),
        40% colorHighlightLight,
        60% colorHighlightLight,
        rgba(colorHighlightLight,0))

.recipe > table > caption
    font-size: fsLarge
    font-weight: bold
    padding: 10px

.recipe > table th,
.recipe > table td
    font-weight: normal
    border-top: 1px solid colorGreyLight
    padding: 5px
    vertical-align: top

.recipe > table th
    color: colorGreyDark
    vertical-align: top
    width: 30px

.recipe > table td
    border-left: 1px solid colorGreyLight

.recipePictureBox
    text-align: center
.recipePicture
    max-height: 200px
    max-width: 200px
    width: auto
    height: auto

.recipeGarnishItem,
.recipeIngItem
    list-style-type: none
.recipeGarnishItem:before,
.recipeIngItem:before
    content:"\25e6"
    color: colorGreyDark
    float: left
    margin-right: 5px

.recipeGlassOuter
    display: box
.recipeGlassList
    display: box
    box-flex: 0.1
.recipeGlassImg
    list-style-type: none
    margin-right: 10px
.recipeGlassImg > img
    max-height: 30px
    max-width: 30px
.recipeGlassTxt
    box-flex: 0.9

/** ------------- SETTINGS ------------- **/
.settings, .settings > *
    width: 300px

.settings label
    cursor: pointer

.settings label > input + span
    padding-left: 5px
    transition: color 1s ease-in-out

.settings input:checked + span
    color: #303070

.settings
    fixed: top 0% left 50%
    height:100%;
    margin-left: -150px

    z-index: 2000
    transition: transform 0.5s cubic-bezier(0.6, 0.0, 0.5, 0.5)
    transform: translate(0,-100%)

.settings > *
    absolute: top 50% left 0px
    height: 250px
    padding: 20px
    border: 2px solid colorGreyDark
    margin-top: -125px

    background-color: white
    border-radius: 20px

.settings h1
    font-size: 36px
    color: colorGreyMid

.settings h2
    padding: 5px 0px 2px 0px
    border-bottom: 1px solid #909090
    font-size: 24px
    font-weight: normal

.settings ul
    padding: 10px 0px 0px 15px
    list-style-type: none

.settings li
    padding: 5px

.settings button
    padding-left: 20px
    padding-right: 20px
    margin-left: 110px

#settingsVisible:checked ~ .settings
    transform: translate(0,0)
    transition: transform 0.5s cubic-bezier(0.5, 0.5, 0.4, 1.0);
